		<nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper">
				<a class="navbar-brand brand-logo" href="index.html" style="mag">
					<img src="img/handypia_logo.png"/>
				</a>
			</div>
		</nav>